---
const name = "susu";
const d = "[doing]";
const t = "[thought]";
const r = "[reading]";
const projectOne = "synesthesia";
const descriptionOne = "coolest music visualiser in the world (´･ω･`)";
const linkOne = "https://synesthesia-psi.vercel.app";
const projectTwo = "digital forest";
const descriptionTwo = "building with notes right here right now :3";
const linkTwo = "/forest/";
import './styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>susu</title>
	</head>
	<body class="background">
		<div class="container">
			<header class="space-between">
				<p class="font-increase font-bold"><a href="/">susu</a></p>
				<p class="font-400"><a href="/now/">now</a></p>
			</header>
			<p class="font-eigth">explorer</p>
			<div class="mt--large font-bold" style="padding-left: .2rem;">
				<h5 class="montserrat">building...</h5>
			</div>
			<div class="column mt--small">
				<a href={linkOne}>
					<div class="box">
						<p class="font-eigth font-bold montserrat">{projectOne}</p>
						<p class="mt--large font-eigth">{descriptionOne}</p>
					</div>
				</a>
				<a href={linkTwo}>
					<div class="box">
						<p class="font-eigth font-bold montserrat">{projectTwo}</p>
						<p class="mt--large font-eigth">{descriptionTwo}</p>
					</div>
				</a>
			</div>
			<div class="mt--large font-eigth">
				<hr>
				<p class="font-eigth font-bold" style="padding: .4rem .2rem">LIBRARY</p>
				<hr>
				<ul style="margin-top: .4rem">
					<li> <a href="/books">>>> books</a></li>
					<li> <a href="/links">>>> cool stuff </a></li>
					<li> <a href="/nerd">>>> nerd stuff</a></li>
				</ul>
			</div>
			<div class="nixie-one note box mt--large">
                <h3 class="la-machine">23-04-2024--tue</h3>
                <div class="mt--small">
                    <p>{t} realised what really got me going is <a href="https://www.youtube.com/watch?v=SqOTG3n5sbI&t=569s" class="grey-white">this</a></p>
                    <p>{d} built two nextjs apps</p>
                    <p>{d} learning authentication and api calls</p>
                    <p>{r} <a href="https://www.amazon.com/How-Take-Smart-Notes-Nonfiction/dp/1542866502"><span class="grey-white">How to take smart notes.</span></a> sometimes i don't finish non-fiction books because i stop reading linearly after a while but i'm hoping to finish this one in a non-linear fashion or in a linear one if it's exciting enough. currently in the third section.</p>
                </div>
            </div>
			<footer>
                <ul class="la-machine font-eigth" style="margin-top: 4rem; display: flex; flex-direction: column; gap: 1rem">
                    <li><a class="underline" href="https://github.com/Susu-spec">github@susu</a></li>
                    <li><a class="underline" href="https://twitter.com/suwayyba">twitter@susu</a></li>
                </ul>
            </footer>
		</div>
		
	</body>
</html>
