---
const pageTitle = "susu/now";
const d = "[doing]";
const t = "[thought]";
const r = "[reading]";
const la = "la-machine";
import './styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>{pageTitle}</title>
    </head>
    <body class="background">
        <div class="container">
            <header class="space-between">
                <p class="font-bold">nownownow</p>
                <p class="font-increase font-bold"><a href="/">susu</a></p>
            </header>
            <h2 class="mt--large la-machine">now</h2>
            <div class="box mt--large">
                <h3 class="la-machine">album of the week</h3>
                <!-- TODO: Set up Auth for myself ^ ^ -->
                <div class="align-center mt--small">
                    <iframe src="https://open.spotify.com/embed/album/7n23fjZTviIUnHyvZGQjni?utm_source=generator&theme=0"
                    style="border: 0; border-style: none"
                    width="100%"
                    height="352px"
                 allowfullscreen="" 
                 allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                 loading="lazy">
                </iframe>
                </div>
            </div>
            <div class="note box mt--large">
                <h3 class="font-bold la-machine">now <span class="grey-white font-200">playing with</span></h3>
                <div class="mt--small">
                    <p class="font-bold">>>>> [next-js]</p>
                    <p class="font-bold">>>>> [astro]</p>
                </div>  
            </div>
            <!-- <div class="box mt--large">
                <h3 class="font-bold">now <span class="grey-white font-200">watching</span></h3>
            </div> -->
            <div class="note box mt--large">
                <h3 class="la-machine">26-04-2024--fri</h3>
                <div class="mt--small">
                    <p>{t} bombed an interview today. of course i'll keep going.</p>
                    <p>{d} checking out <a class="grey-white underline" href="https://search.marginalia.nu/">this DIY search engine</a></p>
                </div> 
            </div>
            <div class="note box mt--large">
                <h3 class="la-machine">23-04-2024--tue</h3>
                <div class="mt--small">
                    <p>{t} realised what really got me going is <a href="https://www.youtube.com/watch?v=SqOTG3n5sbI&t=569s" class="grey-white">this</a></p>
                    <p>{d} got two nextjs apps going</p>
                    <p>{d} learning authentication and api calls</p>
                    <p>{r} <a href="https://www.amazon.com/How-Take-Smart-Notes-Nonfiction/dp/1542866502"><span class="grey-white">How to take smart notes.</span></a> sometimes i don't finish non-fiction books because i stop reading linearly after a while but i'm hoping to finish this one in a non-linear fashion or in a linear one if it's exciting enough. currently in the third section.</p>
                </div>
            </div>
            <div class="note box mt--large">
                <h3 class="la-machine">21-04-2024--sun</h3>
                <div class="mt--small">
                    <p>{t} some written english feels forced. shifting this to my blog section because i need to write this out and think it through. i get what you're thinking, "everyone knows this" but WHY do we not make conscious effort into making it flow better. it's kind of jarring to see. i might even be doing it myself right now.</p>
                    <p>{d} taking some time to build my first next.js app today</p>
                </div> 
            </div>
            
            <footer>
                <ul class="la-machine font-eigth" style="margin-top: 4rem; display: flex; flex-direction: column; gap: 1rem">
                    <li><a class="underline" href="https://github.com/Susu-spec">github@susu</a></li>
                    <li><a class="underline" href="https://twitter.com/susu_suleiman1">twitter@susu</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>