---
const pageTitle = "susu/now";
const d = "[doing]";
const t = "[thought]";
const r = "[reading]";
const la = "la-machine";
import SocialLinks from '../components/SocialLinks.astro';
import SpotifyEmbed from '../components/SpotifyEmbed';
import { sections } from '../data/notes';
import LoaderWrapper from '../layouts/LoaderWrapper';
import './styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>{pageTitle}</title>
    </head>
    <body class="background">
        <LoaderWrapper client:load>
            <div class="container">
                <header class="space-between">
                    <p class="font-bold">nownownow</p>
                    <p class="font-increase font-bold"><a href="/">susu</a></p>
                </header>
                <h2 class="mt--large la-machine">now</h2>
                <div class="box mt--large">
                    <h3 class="la-machine">album of the week</h3>
                    <!-- TODO: Set up Auth for myself ^ ^ -->
                    <div class="align-center mt--small">
                        <SpotifyEmbed client:load/>
                    </div>
                </div>
                <div class="note box mt--large">
                    <h3 class="font-bold la-machine">now <span class="grey-white font-200">playing with</span></h3>
                    <div class="mt--small">
                        <p class="font-bold">>>>> [react-js]</p>
                        <p class="font-bold">>>>> [astro]</p>
                        <p class="font-bold">>>>> [typescript]</p>
                    </div>  
                </div>
                {sections.map((section) => (
                    <div class="note box mt--large">
                        <h3 class="la-machine">{section.date}</h3>
                        <div class="mt--small">
                            {section.thoughts.map((thought) => (
                                <p>{`[thought] ${thought}`}</p>
                            ))}
                            {section.doings.map((doing) => (
                                <p>{`[doing] ${doing}`}</p>
                            ))}
                            {section.readings && section.readings.map((reading) => (
                                <p>{`[reading] ${reading}`}</p>
                            ))}
                        </div>
                    </div>
                ))}
                
                <footer>
                    <SocialLinks />
                </footer>
            </div>
        </LoaderWrapper>
    </body>
</html>